<%= form_with(model: ingrediente) do |form| %>
  <% if ingrediente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingrediente.errors.count, "error") %> prohibited this ingrediente from being saved:</h2>

      <ul>
        <% ingrediente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :relevancia %>
    <%= form.text_field :relevancia %>
  </div>

<%
=begin%>
   <div class="field">
    <%= form.label :integer %>
    <%= form.text_field :integer %>
  </div> 
<%
=end%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
